@model HomeIndexViewModel
@using IdentityExample.Components
@using PagedList
@using Microsoft.AspNetCore.Mvc
@using PagedList.Core.Mvc
@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
<div class="container">
    <div class="row">
        <div class="col-3">
            @*<vc:categories-menu></vc:categories-menu>*@
            @*@await Component.InvokeAsync(typeof(CategoriesMenu))*@
            <vc:categories-menu current-category="@Model.CurrentCategory"></vc:categories-menu>
        </div>
        <div class="col">
            @foreach (Product product in Model.Products)
            {
                @await Html.PartialAsync("_ProductCard", product)
            }
            <pager class="pager-container" list="@Model.Products" options="@PagedListRenderOptions.Bootstrap4Full"
                   asp-action="Index" asp-controller="Home" asp-route-category="@Model.CurrentCategory"></pager>
        </div>
    </div>

</div>